* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(135deg, #000428, #004e92);
}


#panel {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 2px solid #fff;
}


#ptop {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
}

#Numbers {
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #111;
    padding: 20px;
}

#pbtm {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 20px;
}

#pbtm h1 {
    font-size: 3rem;
    color: #fff;
}

#pbtm h2 {
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

#bubble {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 800;
    cursor: pointer;
}
#bubble:hover{
    background-color:yellow ;
    color:black;
    transition: 0.3s;
    scale: 1.2;
}
/* #bubble:nth-child(4n+1){
    background-color:rgb(104, 8, 200);
} */
#bubble:nth-child(2n+1):hover{
    background-color: white;
    border:1px solid black;
}
#cursur
{
    width:30px;
    height:30px;
    border-radius: 50%;
    position:absolute;
    top:0;
    left:0;
    background-color: #111;
}
/* media queries */
@media(max-width:768px) {
    #panel {
        width: 75%;
        height: 80%;
    }

    #ptop {
        gap: 30px;
    }

    #box {
        font-size: 1.2rem;
        gap: 0.5rem;
    }

    #Numbers {
        font-size: 1.2rem;
        padding: 5px;
    }

    #pbtm {
        padding: 5px 15px;
        gap: 5px;
    }

    #bubble {
        width: 23px;
        height: 23px;
        font-size: 1rem;
    }
}



@media(max-width:468px) {
    #panel {
        height: 75%;
    }

    #ptop {
        gap: 10px;
    }

    #box {
        font-size: 1rem;
        gap: 0.5rem;
    }

    #Numbers {
        font-size: 1rem;
        padding: 10px;
    }

    #pbtm {
        padding: 10px;
        gap: 5px;
    }

    #bubble {
        width: 21px;
        height: 21px;
        font-size: 0.8rem;
        cursor: pointer;
    }
}

/* landing page styling */
#welcomeScreen
{
    background:url(https://img.freepik.com/free-vector/colorful-realistic-flowing-glossy-balls-background_52683-24419.jpg?ga=GA1.1.1829865695.1732151214);
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#screenContainer
{
    width:70%;
    height:70%;
    /* border:2px solid red; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    backdrop-filter: blur(10px);
    
}
#screenContainer button{
    padding: 15px 55px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color:darkmagenta;
    color: #fff;
    border: none;
    font-weight: 700;
    transition: 0.3s;
}
#screenContainer button:hover{
    cursor: pointer;
    background-color:rgb(160, 45, 160);

}

#panel2 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#form
{
    /* border:2px solid black; */
    border-radius: 10px;
    width:50%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(40px);

}
#form input
{
    width:25vw;
    height:5vh;
    margin:0.8rem;
    border-radius: 10px;
    padding: 1px 10px;
    font-size: 1vw;
}
#form input[type="submit"]{
    background-color:rgba(228, 11, 228, 0.883);
    color:#fff;
    font-weight: 700; 
    font-size: 1.5vw; 
    text-transform: capitalize;
}
video
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#pausebtn{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#resumebtn{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
#exitbtn{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
}